.container {
  background-color: #0c0c0c;
  padding: 10px 30px;
  border-radius: 10px;
  line-break: anywhere;
  overflow: hidden;
}
.header1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  color: #eee;
  margin-bottom: 20px;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.paragraph {
  font-family: monospace;
  font-size: large;
  color: #ccc;

  display: -webkit-box;
  -webkit-line-clamp: 6; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
