* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
}

.container {
  max-width: 700px;
  background-color: #0f0f0f;
  height: 100vh;
  margin: auto;
}

.header1 {
  color: #eee;
  width: 100%;
  background-color: #0f0f0f;
  padding: 20px;
  font-family: "Arial Narrow Bold", sans-serif;
  text-align: center;
}

.buttonDiv{
  display: flex;
  justify-content: end;
  margin: 0 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid #ccc;
  margin-bottom: 20px;
}

.noposts {
  font-family: monospace;
  margin-top: 50px;
  color: #5555b6;
  text-align: center;
}